<%= form_for(@userimage) do |f| %>
  <% if @userimage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userimage.errors.count, "error") %> prohibited this userimage from being saved:</h2>

      <ul>
      <% @userimage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title,class:"form-control" ,style:"width:50%"%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description,class:"form-control",style:"width:50%" %>
  </div>
  <div>
    <%= f.submit  class: "btn btn-primary" %>
    <%= link_to 'Back', my_userimages_path, class: "btn btn-default" %>
   </div>
<% end %>
