<h1>Listing userimages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Imageversion</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userimages.each do |userimage| %>
      <tr>
        <td><%= userimage.title %></td>
        <td><%= userimage.imageversion %></td>
        <td><%= userimage.description %></td>
        <td><%= userimage.image %></td>
        <td><%= link_to 'Show', userimage %></td>
        <td><%= link_to 'Edit', edit_userimage_path(userimage) %></td>
        <td><%= link_to 'Destroy', userimage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userimage', new_userimage_path %>
